

.spinner::before {
    --lighthouse-symbol: "\26EF";
    --dotted-circle: "\25CC";
    --hourglass: "\23F3";

    content: var(--dotted-circle);
}

.spinner {
    font-style: normal;

    font-size: 4em;

    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



.wrapper {
    height: 50px;
    width: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}