.main__title{
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    font-size: 30px;
    
}

.main__text{
    max-width: 500px;
    margin-left: 50px;
    color: rgb(51, 71, 111);
    font-size: 18px;
    line-height: 1.5;
}