
body {
        margin: 0 auto;
        width: 1440px;
        padding: 15px;
        font-family: 'Maven Pro', sans-serif;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url(/public/transport.jpg);
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.svg {
    display: inline-block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
}



